
@inherits Base
<div style="height: 100vh; width:100%; margin-top:64px; padding:0px 5px 0px 5px; overflow-y: scroll">
    @CorpoContainer
</div>


@{
    base.BuildRenderTree(__builder);
}

@code {

}
