
@inherits Base
<div style="height: 100vh; width:100%; margin-top:20px; padding:0px 5px 0px 5px; overflow-y: scroll">
    @CorpoContainer
    <MudPaper Elevation="2"Height="50px" Width="100%"/>
</div>


@{
    base.BuildRenderTree(__builder);
}

@code {

}
